.arrow {
  width: 7px;
  height: 7px;
  background: green;
  position: absolute;

}


.enemy-structure {
  width: 20px;
  height: 20px;
  background: teal;
  position: absolute;
}


.player {
  width: 20px;
  height: 20px;
  background: blue;
  position: absolute;
}

.target {
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
  opacity: 0.5;
  border-radius: 10px;
}

.timer{
  width: 40px;
  height: 40px;
  position: absolute;
  left: 620px;
}

#high-score {
  width: 1000px;
  height: 40px;
  position: absolute;
  left: 100px;
  bottom: 40px;
}

#canvas {
	width: 600px;
	height: 600px;
	background: tan;
	position: absolute;
}

#ufo-scan {
  /* width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;

  border-top: 40px solid yellow; */
  width: 7px;
  height: 50px;
  background: yellow;
  position: absolute;
}

h1, h2 {
  text-align: center;
}
