.arrow {
  width: 7px;
  height: 7px;
  background: blue;
  position: absolute;

}

.enemy-structure {
  width: 20px;
  height: 20px;
  background: teal;
  position: absolute;
}

#player {
  width: 20px;
  height: 20px;
  background: red;
  position: absolute;
}

#canvas {
	width: 600px;
	height: 600px;
	background: tan;
	position: absolute;
}
